<div class="product-page-filter-dropdown  row">

<div class="col-xs-6 col-sm-6 filter-title" align="right">Filter by :</div>

<div class="filter-dropdown col-xs-6 col-sm-6">
  <div class="row">
		<div class="porduct-category col-xs-6 col-sm-6 nopadding" align="right">
			<div id="porduct-category-dropdown" class="dropdown">
			<button class="dropdown-toggle" type="button" id="porduct-category-dropdown-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
				Category
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" aria-labelledby="porduct-category-dropdown-button">
				<li>Yellow Gold<input class="pull-right" type="checkbox"/></li>
				<li>Pink Gold<input class="pull-right" type="checkbox"/></li>
				<li>White Gold<input class="pull-right" type="checkbox"/></li>
				<li>Sliver<input class="pull-right" type="checkbox"/></li>
			</ul>
			</div>
		</div>
		<div class="product-material col-xs-6 col-sm-6  nopadding" align="left">
			<div id="product-material-dropdown" class="dropdown">
			<button class="dropdown-toggle" type="button" id="product-material-dropdown-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
				Matarial
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu " aria-labelledby="priduct-material-dropdown-button">
				<li>Yellow Gold<input class="pull-right" type="checkbox"/></li>
				<li>Pink Gold<input class="pull-right" type="checkbox"/></li>
				<li>White Gold<input class="pull-right" type="checkbox"/></li>
				<li>Sliver<input class="pull-right" type="checkbox"/></li>
			</ul>
			</div>
	  </div>
	 </div>
 </div>
</div>
