<div>
  <div class="video-banner" id="video-banner">
    <figure>

      <img class="visible-xs" src="/images/VideoEditorialSmall_469*546.jpg">
      <img class="visible-sm" src="/images/VideoEditorialMedium_1936*1092.jpg">
      <img class="visible-md" src="/images/VideoEditorialSmall_938*1092.jpg">
      <img class="visible-lg" src="/images/VideoEditorialStandard_1200*677.jpg">

      <a class="video-button" id="video-button">
        <i class="glyphicon glyphicon-play"></i>
      </a>
    </figure>
  </div>
  <div class="vedio-div" id="vedio-div">
    <div class="vedio-close" align="right">
      <button id="vedio-close-button">Close <span>X</span></button>
    </div>
    <div class="video-wrapper">
      <video id="my-video" class=" custom-skin video-js " controls preload="auto"
      poster="gucci_video_poster.jpg" data-setup='{}'>
        <source src="/videos/gucci.mp4" type='video/mp4'>
        <source src="MY_VIDEO.webm" type='video/webm'>
        <p class="vjs-no-js">
        To view this video please enable JavaScript, and consider upgrading to a web browser that
        <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
        </p>
      </video>
    </div>
  </div>
</div>

