<div class="watches row">
  <div class="watch-one col-xs-4 col-sm-4" align="left">
    <figure>
       <img class="visible-xs" src="/images/watch_xs.jpg">
       <img class="visible-sm" src="/images/watch_sm.jpg">
       <img class="visible-md" src="/images/watch_md.jpg">
       <img class="visible-lg" src="/images/watch_lg.jpg">
    </figure>
  </div>

  <div class="watch-two col-xs-4 col-sm-4" align="center">
    <figure>
       <img class="visible-xs" src="/images/watch_two_xs.jpg">
       <img class="visible-sm" src="/images/watch_two_sm.jpg">
       <img class="visible-md" src="/images/watch_two_md.jpg">
       <img class="visible-lg" src="/images/watch_two_lg.jpg">
    </figure>
  </div>

  <div class="watch-three col-xs-4 col-sm-4" align="right">
    <figure>
       <img class="visible-xs" src="/images/watch_three_xs.jpg">
       <img class="visible-sm" src="/images/watch_three_sm.jpg">
       <img class="visible-md" src="/images/watch_three_md.jpg">
       <img class="visible-lg" src="/images/watch_three_lg.jpg">
    </figure>
  </div>
</div>