.product-page-filter-dropdown{

  margin-top: 10px;
  span{
  	    font-size: 15px;
 	}

  button{
    padding: 5px;
    background-color: #ffffff;
    border: none;

    i{
        font-size: 60%;
    }
 }
 .filter-dropdown{
  	  color: #c7c7c7;
      ul{
        border-radius: 0px;
        padding: 10px;
        margin-right: 20px;
        margin-top: 0px;
     }
  }
}