.product-page-filter-dropdown{

  padding-top: 2px;

  .filter-title{
    padding-top: 5px;
    padding-right: 0px;
  }

  span{
    font-size: 15px;
  }

  button{
    padding: 5px;
    background-color: #ffffff;
    border: none;

    i{
      font-size: 60%;
    }
  }

  .filter-dropdown{
    color: #c7c7c7;
    // margin-top: -5px;
    ul{
      border-radius: 0px;
      padding: 10px;
      margin-left: 20px;
      margin-top: 4px;
    }
  }
}