
@font-face {
  font-family: 'AustinItalic';
  src: url('AustinItalic.eot?#iefix') format('embedded-opentype'),  url('AustinItalic.woff') format('woff'), url('AustinItalic.ttf')  format('truetype'), url('AustinItalic.svg#AustinItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
