<div class="products row">
  <div class="product-watch col-xs-6 col-sm-6" align="left">
  <a href="/product-watch">
    <figure>
       <img class="visible-xs" src="/images/watch_xs.jpg">
       <img class="visible-sm" src="/images/watch_sm.jpg">
       <img class="visible-md" src="/images/watch_md.jpg">
       <img class="visible-lg" src="/images/watch_lg.jpg">
    </figure>
    </a>
  </div>
  <div class="product-jewellery col-xs-6 col-sm-6" align="right">
  <a href="/product-jewellery">
    <figure>
       <img class="visible-xs" src="/images/jewellery_xs.jpg">
       <img class="visible-sm" src="/images/jewellery_sm.jpg">
       <img class="visible-md" src="/images/jewellery_md.jpg">
       <img class="visible-lg" src="/images/jewellery_lg.jpg">
    </figure>
   </a>
  </div>
</div>