
@font-face {
  font-family: 'CGOmega-Regular';
  src: url('CGOmega-Regular.eot?#iefix') format('embedded-opentype'),  url('CGOmega-Regular.woff') format('woff'), url('CGOmega-Regular.ttf')  format('truetype'), url('CGOmega-Regular.svg#CGOmega-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
