<div class="row">
 <div class="product-page-product-list col-sm-3 col-xs-3">

     <img src="/images/jewellery_three_xs.jpg">
		 <div class="product-title">gucci flora</div>
		 <div class="product-discription">black PVD stain less steel case,black matte dial,black rubber strap</div>
		 <button> SHOP THIS <span> > </span> </i></button>
 </div>

 <div class="product-page-product-list col-sm-3 col-xs-3">

     <img src="/images/jewellery_three_xs.jpg">
		 <div class="product-title">gucci flora</div>
		 <div class="product-discription">black PVD stain less steel case,black matte dial,black rubber strap</div>
		 <button>SHOP THIS<span> > </span></button>
 </div>

 <div class="product-page-product-list col-sm-3 col-xs-3">

     <img src="/images/jewellery_three_xs.jpg">
		 <div class="product-title">gucci flora</div>
		 <div class="product-discription">black PVD stain less steel case,black matte dial,black rubber strap</div>
		 <button>SHOP THIS<span> > </span></button>
 </div>

 <div class="product-page-product-list col-sm-3 col-xs-3">

     <img src="/images/jewellery_three_xs.jpg">
		 <div class="product-title">gucci flora</div>
		 <div class="product-discription">black PVD stain less steel case,black matte dial,black rubber strap</div>
		 <button>SHOP THIS<span> > </span></button>
 </div>

</div>