<div class="jewelleries row">
   <div class="jewellery-one col-xs-4 col-sm-4" align="left">
    <figure>
       <img class="visible-xs" src="/images/jewellery_xs.jpg">
       <img class="visible-sm" src="/images/jewellery_sm.jpg">
       <img class="visible-md" src="/images/jewellery_md.jpg">
       <img class="visible-lg" src="/images/jewellery_lg.jpg">
    </figure>
  </div>

  <div class="jewellery-two col-xs-4 col-sm-4" align="center">
    <figure>
       <img class="visible-xs" src="/images/jewellery_two_xs.jpg">
       <img class="visible-sm" src="/images/jewellery_two_sm.jpg">
       <img class="visible-md" src="/images/jewellery_two_md.jpg">
       <img class="visible-lg" src="/images/jewellery_two_lg.jpg">
    </figure>
  </div>

  <div class="jewellery-three col-xs-4 col-sm-4" align="right">
    <figure>
       <img class="visible-xs" src="/images/jewellery_three_xs.jpg">
       <img class="visible-sm" src="/images/jewellery_three_sm.jpg">
       <img class="visible-md" src="/images/jewellery_three_md.jpg">
       <img class="visible-lg" src="/images/jewellery_three_lg.jpg">
    </figure>
  </div>
</div>