 <div class="product-page-collection-dropdown">

  <div class="dropdown">
			<button class="dropdown-toggle" type="button" id="product-page-collection-dropdown-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
		  browse by collection
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" aria-labelledby="product-page-collection-dropdown-menu">
				<li>Yellow Gold</li>
					<li>Pink Gold</li>
					<li>White Gold</li>
					<li>Sliver</li>
			</ul>
		</div>
 </div>
